body {
    font-family: Arial, Helvetica, sans-serif;   
    background:#E0E0E0;
    padding:0px;
    margin:0px;
    color:#333;
    min-height:100%;
}

.header {
    text-align:center;
    position:fixed;
    height:30px;
    left:0px;
    right:0px;
    background:#FFF;
    padding:25px 0px 5px 0px;
    border-bottom:5px solid #CCC;
    font-size:20px;
    font-weight:bold;
}

.content {  
    position:fixed;
    top:62px;
    bottom:0px;
    left:0px;
    right:0px;
    overflow:scroll;
    -webkit-overflow-scrolling:touch;
    margin-bottom:30px;
}

.footer {
    position:fixed;
    height:22px;
    left:0px;
    right:0px;
    bottom:0px;
    background:#FFF;
    color:888;
    text-align:center;
    padding:5px 0px 0px 0px;
    border-top:5px solid #CCC;
    font-size:12px;
}

.float-left .card {
    float:left;
    width:300px;  
    height:270px;
}

.multi-column {
    columns:300px 3;
    -webkit-columns:300px 3;
}

.card {
    background:#FFF;
    border:1px solid #AAA;
    border-bottom:3px solid #BBB;
    padding:0px;
    margin:15px;
    overflow:hidden;
}

.card h1 {
    margin:0px;
    padding:10px;
    padding-bottom:0px;
}

.card p {
    margin:0px;
    padding:10px;
}

.card-image {
    width:100%;
    height:200px;
    padding:0px;
    margin:0px;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
    overflow:hidden;
}

.card-image .banner {
    height:50px;
    width:50px;
    top:0px;
    right:0px;
    background-position:top right;
    background-repeat:no-repeat;
    background-image:url('../images/new.png');
    position:absolute;
}

.card-image h1, 
.card-image h2, 
.card-image h3, 
.card-image h4, 
.card-image h5, 
.card-image h6 {
    position:absolute;
    bottom:0px;
    width:100%;
    color:white;
    background:rgba(0,0,0,0.65);
    margin:0px;
    padding:6px;
    border:none;
}

.rightColumn,
.leftColumn {
    display:inline-block;
    width:49%;
    vertical-align:top;
}

.column {
    display:inline-block;
    vertical-align:top;
}

.image1 {
    background-image:url('http://farm6.staticflickr.com/5323/9902848784_cbd10ba3ca_c.jpg');
}

.image2 {
    background-image:url('http://farm6.staticflickr.com/5448/9901034384_e3de7406c3_c.jpg');
}

.image3 {
    background-image:url('http://farm8.staticflickr.com/7383/9899900453_4540cf9de6_c.jpg');
}

.image4 {
    background-image:url('http://farm3.staticflickr.com/2811/9680904065_7f866f4ab5_c.jpg');
}

.image5 {
    background-image:url('http://farm6.staticflickr.com/5496/9684141030_70a80e3b40_z.jpg');
}

.image6 {
    background-image:url('http://farm4.staticflickr.com/3726/9522001276_21bb6fbd64_z.jpg');
}



